* {
    padding: 0;
    margin: 0;
    font-family: 'Lexend Deca', sans-serif !important;
}

.gradient{
    background: linear-gradient(to right, #B983FF, #94B3FD);
}

.go-back{
    height: 50px; 
    width: 150px; 
    color: #fff; 
    border: 2px solid #fff; 
    border-radius: 15px; 
    text-align: center;
}

.btn-gradient {
    background: linear-gradient(90deg, rgba(185,131,255,1) 0%, rgba(148,179,253,1) 100%); 
    color: #FFF;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    font-size: 1.3rem;
}

.btn-outline-gradient {
    background: linear-gradient(to right, rgba(185,131,255,1),rgba(148,179,253,1));
    border-radius: 20px;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
}

.btn-outline-gradient span {
    background: #fff;
    display: block;
    padding: .5rem 1.5rem;
    border-radius: 16px;
    color: #707070;
}

.index {
    color: #707070;
}

.index .title{
    padding: 10% 0 5% 0;
    color: #707070;
}

.index .subheading {
    width: 40%;
    margin: 0 auto;
    font-size: 1.3rem;
    padding: 0 0 5% 0;
}

.index .buttons {
    width: 50%;
    margin: 0 auto;
}