
    /* font-family: 'Lexend Deca', sans-serif !important; */

.gradient{
    background: linear-gradient(to right, #B983FF, #94B3FD);
}

.center{
    text-align: center;
}

.section{
    width: 60%;
    margin: auto;
}

.input{
    height: 35px;
    width: 180px;
}

.go-back{
    height: 50px; 
    width: 150px; 
    color: #fff; 
    border: 2px solid #fff; 
    border-radius: 15px; 
    text-align: center;
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 7px;
    background-color: transparent;
}

.go-back:hover{
    font-size: 20px !important;
    padding: 8px;
}

.page-intro{
    width: 40%;
    text-align: center;
    color: #fff;
    margin: auto;
    padding-top: 80px;
    font-family: 'Lexend Deca', sans-serif !important;
}